# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# the following will be requested for
# review when someone opens a pull request.
*       @LukeShirnia @dsgnr @LukeHandle

# The following section assigns reviewers per
# directory at the root of the repository and any of its
# subdirectories.
postfixbuddy/     @dsgnr
traffic_analyser/ @dsgnr
pleskbuddy/       @dsgnr
php-fpmpal/       @gsgnr
Low_disk/         @LukeShirnia
out-of-memory/    @LukeShirnia
nginxctl/         @LukeShirnia
ps_mem/           @LukeShirnia
apache2buddy/     @richardforth
